{% extends 'register/base.html'%} {% block content %}
<script src="https://use.fontawesome.com/45e03a14ce.js"></script>
<div class="main_section">
  <div class="container">
    <div class="chat_container">
      <div class="col-sm-3 chat_sidebar">
        <div class="row">
          <div id="custom-search-input">

          </div>
        </div>
        <div class="dropdown all_conversation">
          <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-weixin" aria-hidden="true"></i>
            Online users
            <span class="caret pull-right"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li>
              <a href="#"> All Conversation </a>
              <ul class="sub_menu_ list-unstyled">
                <li>
                  <a href="#"> All Conversation </a>
                </li>
                <li>
                  <a href="#">Another action</a>
                </li>
                <li>
                  <a href="#">Something else here</a>
                </li>
                <li>
                  <a href="#">Separated link</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Another action</a>
            </li>
            <li>
              <a href="#">Something else here</a>
            </li>
            <li>
              <a href="#">Separated link</a>
            </li>
          </ul>
        </div>
        <div class="member_list">
          <ul class="list-unstyled">
            {% if loggedinusers %}
          {% for user in loggedinusers%}
         
              
              <li>
                 <div class="chat-body-clearfix">
                  <p>
                   {{user.username}}
               </p>
              </div>
              </li>
             
              {% endfor %} 
              {%endif%}
          </ul>
        </div>
      </div>
    </div>
    <!--chat_sidebar-->


    <div class="col-sm-9 message_section">

      <!--new_message_head-->

      <div class="chat_area">
        <ul id="chat" class="list-unstyled">
          {%if chatlist%} {% for message in chatlist%}
          <li>
            <div class="chat-body1 clearfix">
              <p>
                {{message.message}}</p>
              <div class="chat_time pull-right" id="name">{{message.name}}</div>
              <div class="chat_time pull-right" id="date">{{message.date}}</div>
            </div>
          </li>
          {% endfor %} {%endif%}

        </ul>
      </div>
      <!--chat_area-->
      <div class="message_write">
        <textarea class="form-control" placeholder="type a message" id="message"></textarea>
        <div class="clearfix"></div>
        <div class="chat_bottom">
         
          <a href="#" class="pull-right btn btn-success sendbtn ">
            Send</a>
        </div>
      </div>
    </div>
  </div>
  <!--message_section-->
</div>
</div>
</div>
{% endblock content %}